

  <% @salads.each do |salad| %>




      <ul>
        <div class="small-6 large-2 columns"></div>
        <div class="small-6 large-8 columns">
          <b><%= salad.salad_name %></b> | Base: <%= salad.lettuce_type %><br>
          Description:<em> <%= salad.description %></em><br>
          <% if salad.cheese == true %>
              cheese
          <% end %></div>
        <div class="small-12 large-2 columns"</div>
      </div>



  <% end %>

