

  <% @salads.each do |salad| %>


      <div class="row">
        <div class="large-3 columns">...</div>
        <div class="large-6 columns">...</div>
        <div class="large-3 columns">...</div>
      </div>



                  <b><%= salad.salad_name %></b> | Base: <%= salad.lettuce_type %><br>
                  Description:<em> <%= salad.description %></em><br>
                  <% if salad.cheese == true %>
                  cheese
                  <% end %>

  <% end %>


<div class="row">
  <div class="small-3 small-centered columns">3 centered</div>
</div>