<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Salad Fu">
  <meta name="keywords" content="">
  <title>Salad Fu</title>
</head>


<body>

<h1>Welcome to Salad Fu</h1>
<h2><%= link_to 'New salad', new_salad_path %></h2>
    <div id="main_list">
       <%= render 'list' %>
    </div>
</body>
</html>