<h1>New salad created!</h1>

<h2><%= link_to 'Home', root_path %></h2>

<p>
    <%= @salad.salad_name %>
  <ul>
    <li><%= @salad.description %></li>
    <li><%= @salad.lettuce_type %></li>


  </ul>


